


body{
    background-color:  white;
    }
    h1{
        color:gray;       
        text-align: center;  
    }
    
   a:hover{
        color: red; 
       
        text-decoration: none;  
  } 
 

    .front-img > img{
     display: inline;
     width: 300px;
     height: 300px;
    }
 